.contentInfo {
  width: 90%;
  height: 90%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
  gap: 10px;

  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  //IMG for user
  .imgUser {
    margin-top: 30px;
    flex: 1;

    display: flex;
    justify-content: center;
    .img {
      width: 250px;
      height: 250px;

      background-image: url(../../../assets/icons/user.png);
      background-size: 250px 250px;
      background-repeat: no-repeat;
    }
  }
  //Info for user
  .infoUser {
    margin-top: 50px;
    flex: 2;

    display: flex;
    flex-direction: column;
    gap: 20px;

    ul {
      width: 60%;

      display: flex;
      flex-direction: row;

      li {
        flex: 1;
      }
      .valueInfo {
        font-weight: 700;
      }
    }
  }
  //Info handle
  .infoHandle {
    width: 100%;

    display: flex;
    justify-content: center;
    gap: 20px;
    button {
      height: 50px;
    }
  }
}

//For student map code
.mapId {
  width: 60%;
  height: 60%;

  display: flex;
  flex-direction: column;
  gap: 20px;

  .items {
    display: flex;
    flex-direction: row;

    &_label {
      flex: 1;
    }

    &_control {
      flex: 3;
    }
  }
}

//scored
.tableInfo {
  height: 90%;
  width: 95%;

  display: flex;
  flex-direction: column;
  gap: 20px;
  .tableScored {
    text-align: center;
  }
}
