//Main links
.contentDetails {
  margin-top: 50px;

  width: 100%;
  min-height: 90%;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 50px;

  &_link {
    width: 60%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    a {
      color: black;
      font-size: 18px;
    }
    .active {
      border-bottom: 1px solid #000;
    }
  }

  &_content {
    width: 95%;
    // height: 80%;
  }
}

//For detail page
.details {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  &_tilte {
    width: 90%;
    border-bottom: 1px solid rgb(228, 225, 225);
  }

  &_class {
    width: 95%;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;

      gap: 10px;
      flex-wrap: wrap;
      li {
        width: 45%;
        font-size: 17px;
      }
    }
  }
  &_table {
    width: 90% !important;

    text-align: center;

    button {
      background: transparent;
      border: transparent;
      &:hover,
      &:focus {
        background: transparent;
        border: transparent;
      }
      .icons {
        font-size: 25px;
        color: green;
      }
    }
  }
}
