.content {
  width: 100vw;
  min-height: 600px;
  height: 92vh;

  background: #f4f4f4;

  display: flex;
  justify-content: center;
  align-items: center;

  color: rgb(0, 0, 0);

  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
